p{
    font-size: 40px;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
header{
    background-color: aquamarine;
}

.container{
   padding: 50px;
   background-color: rgb(255, 255, 200);
   height: 100vh;
}

select{
    width: 400px;
    height: 30px;
}

