.characterSection{
    padding-top: 20px;
background-image: url("./../assets/images/bg.png");
@media screen and (max-width: 992px) {

padding-top: 100px;
}
}

select{
    width: 400px;
    height: 50px;
    margin-bottom: 15px;
    background-color: #000000;
    padding-left: 0.5rem;
    color: #dddddd;
        font-size: 1.05rem;
        line-height: 1.4;
        font-family: 'Neucha', cursive;
        letter-spacing: 1px;
        border-radius: 15px 15px 0 0;
}

select::placeholder{
    padding: 0.5rem 1.5rem 1.5rem;
        color: #dddddd;
        font-size: 1.05rem;
        line-height: 1.4;
        font-family: 'Neucha', cursive;
        letter-spacing: 1px;
}

