.image {
  position: absolute;
  box-sizing: border-box;
  height: 500px;
  width: 500px;
}

.canvas {
  box-sizing: border-box;
  margin-right: 20px;
  width: 500px;
  height: 500px;

}

select {
  display: block;
  margin-bottom: 20px;
}